@import "snsLogin.css";

body {
  margin: 0;
}

footer {
  margin-top: 30px;
}

.idBox,
.pwBox {
  width: 100%;
}

.createBtn,
.loginBtn {
  width: 100%;
}

#createBtn {
  margin-top: 20px;
}

#loginBtn {
  margin: 5px 0 25px 0px;
}

#main-login-box {
  max-width: 80%;
}

.nameInput {
  width: 100%;
  margin-bottom: 10px;
}

#changeName {
  width: 100%;
  margin: 15px 0 10px 0;
}

#logout {
  width: 267px;
}

.textFrom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#textForm-input {
  width: 300px;
  text-align: center;
}

#textForm-btn {
  margin-left: 10px;
}

.user-text_info {
  border-bottom: 0.2px solid grey;
}

.textinfo {
  width: 100%;
  max-width: 500px;
  text-align: center;
  margin-top: 30px;
}

#edit,
#delete,
#update,
#cancle {
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  color: green;
  margin-bottom: 30px;
}
